<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:tx="http://www.springframework.org/schema/tx" xmlns:cache="http://www.springframework.org/schema/cache"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:jee="http://www.springframework.org/schema/jee"
	   xsi:schemaLocation="http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc.xsd
	    http://www.springframework.org/schema/beans
	   	http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
		http://www.springframework.org/schema/cache
		http://www.springframework.org/schema/cache/spring-cache.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-2.5.xsd
        http://www.springframework.org/schema/jee
		http://www.springframework.org/schema/jee/spring-jee.xsd">

	<bean id="pizzaShop" class="com.spring.PizzaShop">
		<lookup-method name="makePizza" bean="pizza"/>
		<lookup-method name="makeVeggiePizza" bean="veggiePizza"/>
	</bean>
	
	<bean id="pizza" class="com.spring.Pizza" scope="prototype"/>
	
	<bean id="veggiePizza" class="com.spring.Pizza" scope="prototype">
		<property name="isVeg" value="true"/>
	</bean>
	<bean id="processor" class="com.spring.RequestProcessor">
		<lookup-method name="getResourceA" bean="resourceA"/>
	</bean>

	<bean id="resourceA" class="com.spring.ResourceA" scope="prototype"/>
	<bean id="resourceB" class="com.spring.ResourceB" scope="prototype"/>

	<context:component-scan base-package="com"></context:component-scan>



</beans>